:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #323232;
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --accent-color: #4985ff;
  --subtitle-color: #000000;
  --main-background-color: #f6f6f8;
  --secondary-background-color: #e5e5e5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.section-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--main-text-color);
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.56;
}
.site-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.hero-text {
  font-weight: 500;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.hero {
  background-color: yellowgreen;
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  color: var(--main-title-color);
}

.mobile {
  background-color: var(--secondary-background-color);
}

.mobile-title {
  text-align: center;
  color: var(--secondary-title-color);
}
.mobile-text {
  text-align: center;
}
.mobile-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22px;
  color: var(--subtitle-color);
}
.mobile-list-text {
  font-size: 14px;
}
